<h1><%= t ".title" %></h1>

<p><%= t ".hi", name: @user.name %></p>

<p>
  <%= t ".content" %>
</p>

<%= link_to t(".link"), edit_account_activation_url(@user.activation_token,
  email: @user.email) %>
