<table class="table">
  <% @notifications.each do |notification| %>
    <tr class="user-row">
      <td><%= l notification.created_at, format: :short %></td>
      <td><%= notification.content.gsub(". ", '<br>').html_safe %></td>
    </tr>
  <% end %>
  <%= paginate @notifications, theme: "twitter-bootstrap-3" %>
</table>

