<% provide :title, t(".edit") %>
<% provide :button_text, t(".save_change") %>
<div class="container">
  <div class="col-md-6 contact-left-block">
    <h3><%= raw t(".recommend") %></h3>
    <p class="text-left"></p>
  </div>
  <div class="col-md-6 contact-form">
    <h3><%= raw t(".update_profile") %></h3>
    <%= render "form" %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
    </div>
  </div>
</div>
