<% provide :title, t(".sign_up") %>
<% provide :button_text, t(".create") %>

<div class="col-md-6 contact-left-block">
  <h3><%= raw t(".recommend") %></h3>
  <p class="text-left"><%= raw t(".recommend_content") %></p>
</div>
<div class="col-md-6 contact-form">
  <h3><%= raw t(".sign_up_title") %></h3>
  <%= render "form" %>
</div>
