<% provide :title, @user.name %>
<section class="user-home-wrapper">
  <div class="user-inner-wrapper">
    <%= gravatar_for @user, size: Settings.gravatar_large_size %>
    <div class="user-info">
      <h1><%= @user.name %></h1>
      <p>
        <%= @user.email %><br><%= @user.phone %>
      </p>
    </div>
  </div>
</section>
