<div class="col-md-3 col-sm-3 col-xs-6 width-50">
  <%= link_to link do %>
    <div class="service-details text-center">
      <div class="service-image">
        <%= image_tag icon, alt: name, class: "img-responsive" %>
      </div>
      <h4><%= name %></h4>
    </div>
  <% end %>
</div>
