<tr>
  <td><%= l request.created_at, format: :short %></td>
  <td><%= request.content.gsub(". ", '<br>').html_safe %></td>
  <% if request.closed? %>
    <td>
      <p class="text-uppercase text-success"><%= t(".done") %></p>
    </td>
  <% elsif request.created? %>
    <td>
      <%= link_to t(".edit_request"), edit_request_path(request, booking_id: request.booking_id) %>
    </td>
  <% end %>
</tr>
