<div class="product-thumb">
  <div class="image">
    <%= link_to room do %>
      <% if room.images.count > 0 %>
        <%= image_tag first_image_link(room), class: "img-responsive",
          size: Settings.room_image_normal_size %>
      <% else %>
        <%= image_tag Settings.default_image, class: "img-responsive",
          size: Settings.room_image_normal_size %>
      <% end %>
    <% end %>
  </div>
</div>
