$flag-red: #ff4157;
$gray: gray;
$light-gray: #eee;
$lighter-gray: #ddd;
$white: white;
$light-pink: #ff4157;
$lighter-pink: #696763;
$light-gold: #f5f5ed;
$orange: #FE980F;
$red: #ff0000;
$black: #000000;
$shadow: rgba(0, 0, 0, .15);
