@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'style.scss';
@import 'font-awsome.scss';
@import 'color.scss';

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 0 0 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

input, textarea, select, .uneditable-input {
  width: 100%;
  margin-bottom: 15px;
}

.link {
  color: $flag-red;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 3px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $flag-red;
  }
}

.checkbox {
  margin: 0 0 10px;
  span {
    margin-left: 20px;
    font-weight: bold;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
  margin-top: 0;
}

.alert {
  border-radius: 0;
}

.user-home-wrapper {
  @extend .image-head-wrapper;
  background: image-url('banner.jpg');
}

.user-inner-wrapper {
  color: $white;
  left: 20%;
  position: relative;
  text-transform: uppercase;
  top: 50%;
  #transform: translate(-70%, -70%);
  width: 60%;
  img {
    border-radius: 50%;
    margin-right: 20px;
  }
  .user-info {
    padding-top: 50px;
    position: relative;
    line-height: 1.75;
    display: inline-block;
    white-space: nowrap;
  }
}

.locked-row, .locked-row .user-name {
  color: $gray;
}

.table .user-row td {
  vertical-align: middle;
}

.user-name {
  font-weight: bold;
  line-height: 3;
}

.action-btn {
  text-align: right;
  .submit-btn {
    margin: 0;
  }
}

.table thead {
  text-transform: uppercase;
}

.gallery-image {
  margin-bottom: 30px;
}

.overlay .info > i.lg-icon {
  font-size: 36px;
}

.center-name {
  left: 25%;
  right: 25%;
}

.service-details {
  margin-bottom: 60px;
  h4 {
    white-space: nowrap;
  }
}

form.edit_user {
  display: inline;
  .submit-btn {
    width: unset;
  }
}

.section {
  margin-bottom: 30px;
}

textarea {
  resize: none;
}

.media {
  border: 1px solid $light-gray;
  .media-body {
    padding-top: 10px;
  }
}

.search-input {
  margin-top: 15px;
  height: 35px;
}

.room-image-wrapper{
  border: 1px solid $light-gray;
  overflow: hidden;
  margin-bottom: 30px;
}

.single-rooms {
  position: relative;
}

.room-info {
  padding: 5px;
}

.room-info h2 {
  color: $light-pink;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 5px;
}

.room-info h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: $lighter-pink;
  margin: 5px;
}

.room-info img {
  width: 100%;
  height: 300px;
}

.image-rooms-home {
  margin: 5px;
}

.room-info {
  position: relative;
}

.room-overlay {
  background: $light-gray;
  top: 0;
  display: none;
  height: 0;
  position: absolute;
  transition: height 500ms ease 0s;
  width: 100%;
  display: block;
}

.single-rooms:hover .room-overlay {
  display: block;
  height: 100%;
}

.room-overlay .overlay-content {
  bottom: 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding-bottom: 60px;
}

.room-overlay .add-to-cart {
  background: $white;
  border: 0 none;
  border-radius: 0;
  color: $lighter-pink;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 25px;
}

.room-overlay .add-to-cart:hover {
  background: $white;
  color: $light-pink;
}

.room-overlay h2 {
  color: $light-pink;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 5px;
}

.room-overlay h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: $light-pink;
  margin: 5px;
}

.add-to-cart {
  background: $light-gold;
  border: 0 none;
  border-radius: 0;
  color: $lighter-pink;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 25px;
}

.add-to-cart:hover {
  background: $orange;
  border: 0 none;
  border-radius: 0;
  color: $white;
}

.add-to{
  margin-bottom: 10px;
}

.add-to-cart i {
  margin-right: 5px;
}

.add-to-cart:hover {
  background: $light-pink;
  color: $white;
}

.room-details h1 {
  color: $red;
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px
}

.room-details h3 {
  color: $black;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.room-details h2 {
  color: $light-pink;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.booking-room {
  background: $light-pink;
  border: 0 none;
  border-radius: 0;
  color: $light-gold;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 15px;
}

.booking-room:hover {
  background: $white;
  border: 0 none;
  border-radius: 0;
  color: $light-pink;
}

select, input {
  display: inline;
  width: auto;
}

.galery {
  text-align: justify;
  padding: 30px;
  .image-galery {
    height: 250px;
    width: auto;
  }
}
